.match-card {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 40px;
  text-align: center;
  color: black;
  font-size: large;
}
img{
  width: 60px;
}
.result {
  font-size: 25px;
  color: whitesmoke;
}
span{
  font-size: 25px;
  font-weight: 200;
  color: darkblue;
}
.table {
  width: 72%;
  height: 220px;
  margin: auto;
  font-size: 20px;
  background-color: lightgreen;
  border: 2px solid black;
}
td{
  width: 36%;
}
table {
  width: 100%;
  border-collapse: collapse;
}


th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th + th, td + td {
  border-left: 2px solid black; /* Thicker border for the vertical line */
}


.result {
  margin-top: 20px;
  background-color: rgb(192, 85, 103);
  width: 72%;
  height: 33px;
  border: 2px solid black;
}
